<article class="p-2 md:p-4 py-8 prose prose-lg prose-zinc" #article>
  <h1>Insertion Sort</h1>
  <h2>คำอธิบาย</h2>
  <p>
    Insertion Sort ใช้แนวคิดคล้ายกับการจัดเรียงไพ่ในมือ
    โดยอัลกอริธึมจะดำเนินการโดยการแบ่งข้อมูลออกเป็นสองส่วน
    คือส่วนที่เรียงลำดับแล้วและส่วนที่ยังไม่ได้เรียงลำดับ
    จากนั้นนำค่าจากส่วนที่ยังไม่ได้เรียงลำดับมาแทรกในตำแหน่งที่เหมาะสมในส่วนที่เรียงลำดับแล้ว
    กระบวนการนี้ทำซ้ำจนกระทั่งข้อมูลทั้งหมดอยู่ในส่วนที่เรียงลำดับแล้ว
  </p>
  <h2>ประสิทธิภาพ</h2>
  <h3>เวลา (Time Complexity)</h3>
  <div class="grid grid-cols-3 place-items-center">
    <div class="flex flex-col gap-1">
      <span class="text-sm">Worst</span>
      <span mathtex="O(n^2)"></span>
    </div>
    <div class="flex flex-col gap-1">
      <span class="text-sm">Average</span>
      <span mathtex="O(n^2)"></span>
    </div>
    <div class="flex flex-col gap-1">
      <span class="text-sm">Best</span>
      <span mathtex="O(n)"></span>
    </div>
  </div>
  <p>
    Insertion Sort ใช้เวลามากที่สุดเมื่อข้อมูลเรียงย้อนกลับ นั่นคือ
    จะมีการแทรกค่าที่น้อยกว่าในทุกรอบ ทำให้มีการขยับตำแหน่งข้อมูลทุกครั้ง
    และใช้เวลาน้อยที่สุดเมื่อข้อมูลเรียงมาก่อนแล้ว โดยมีเพียงการวนในรอบใหญ่
    ไม่มีการวนในรอบย่อย (รอบย่อยจะเกิดขึ้น เมื่อมีข้อมูลทางซ้ายอย่างน้อยหนึ่งค่า
    มากกว่าข้อมูลปัจจุบัน)
  </p>
  <h3>พื้นที่ (Space Complexity)</h3>
  <div class="grid grid-cols-1 place-items-center">
    <span mathtex="O(1)"></span>
  </div>
  <p>
    Insertion Sort ใช้พื้นที่เล็กน้อยในการเรียง เช่น
    ตัวแปรเก็บค่าความยาวอาร์เรย์ หรือค่า Key สำหรับใช้แทรกในแต่ละรอบ
  </p>
  <h2>ข้อดีและข้อเสีย</h2>
  <h3>ข้อดี</h3>
  <ul>
    <li>ง่ายต่อการทำความเข้าใจและใช้งาน</li>
    <li>ใช้พื้นที่หน่วยความจำคงที่</li>
  </ul>
  <h3>ข้อเสีย</h3>
  <ul>
    <li>ความเร็วต่ำเมื่อเทียบกับอัลกอริทึมอื่น</li>
    <li>ไม่เหมาะกับข้อมูลขนาดใหญ่ (เวลาที่ใช้แปรผันตรงกับขนาดข้อมูล)</li>
  </ul>
  <!-- <h2>โค้ด</h2> -->
  <h2>ตัวอย่าง</h2>
  <section>
    <h3>Stepper</h3>
    <app-insertion-sort-stepper />
  </section>
  <hr />
  <section class="space-y-2">
    <h3>Visualizer</h3>
    <app-insertion-sort-visualizer />
  </section>
</article>
