<article class="p-2 md:p-4 py-8 prose prose-lg prose-zinc" #article>
  <h1>Selection Sort</h1>
  <h2>คำอธิบาย</h2>
  <p>
    Selection Sort ทำงานโดยการแบ่งอาร์เรย์ออกเป็นสองส่วน
    คือส่วนที่เรียงลำดับแล้วและส่วนที่ยังไม่ได้เรียงลำดับ
    จากนั้นเลือกค่าที่น้อยที่สุดจากส่วนที่ยังไม่ได้เรียงลำดับมาไว้ที่ตำแหน่งถัดไปของส่วนที่เรียงลำดับแล้ว
    กระบวนการนี้จะดำเนินการจนกว่าข้อมูลทั้งหมดจะเรียงลำดับเสร็จสิ้น
  </p>
  <h2>ประสิทธิภาพ</h2>
  <h3>เวลา (Time Complexity)</h3>
  <div class="grid grid-cols-3 place-items-center">
    <div class="flex flex-col gap-1">
      <span class="text-sm">Worst</span>
      <span mathtex="O(n^2)"></span>
    </div>
    <div class="flex flex-col gap-1">
      <span class="text-sm">Average</span>
      <span mathtex="O(n^2)"></span>
    </div>
    <div class="flex flex-col gap-1">
      <span class="text-sm">Best</span>
      <span mathtex="O(n^2)"></span>
    </div>
  </div>
  <p>
    การทำงานของ Selection Sort ไม่มีกรณีที่ดีที่สุด หรือแย่ที่สุดไปกว่ากัน
    เพราะในแต่ละรอบจะทำการค้นหาค่าที่น้อยที่สุดในส่วนที่ยังไม่ได้เรียงทั้งหมด
  </p>
  <h3>พื้นที่ (Space Complexity)</h3>
  <div class="grid grid-cols-1 place-items-center">
    <span mathtex="O(1)"></span>
  </div>
  <p>
    Bubble Sort ใช้พื้นที่เล็กน้อยในการเรียง เช่น ตัวแปรเก็บค่าความยาวอาร์เรย์
    หรือ ตัวแปรเก็บค่าตำแหน่งที่น้อยที่สุด
  </p>
  <h2>ข้อดีและข้อเสีย</h2>
  <h3>ข้อดี</h3>
  <ul>
    <li>ง่ายต่อการทำความเข้าใจและใช้งาน</li>
    <li>ใช้พื้นที่หน่วยความจำคงที่</li>
  </ul>
  <h3>ข้อเสีย</h3>
  <ul>
    <li>ความเร็วต่ำเมื่อเทียบกับอัลกอริทึมอื่น</li>
    <li>ไม่เหมาะกับข้อมูลขนาดใหญ่ (เวลาที่ใช้แปรผันตรงกับขนาดข้อมูล)</li>
    <li>
      ไม่สามารถปรับปรุงเวลาในการทำงานได้ ถึงแม้ข้อมูลจะเรียงมาก่อนแล้วก็ตาม
    </li>
  </ul>
  <!-- <h2>โค้ด</h2> -->
  <h2>ตัวอย่าง</h2>
  <section>
    <h3>Stepper</h3>
    <div class="grid grid-cols-3 gap-2">
      @for (preset of presets; track $index) {
      <button
        (click)="setArrayWith(preset.array)"
        class="px-4 py-2 rounded-lg bg-blue-700 text-white"
      >
        {{ preset.label }}
      </button>
      }
    </div>
    @if (currentStep()) {
    <div class="text-sm text-center p-4">
      @if (currentStep().action === "start") {
      <span>เริ่มต้น</span>
      } @if (currentStep().action === "end") {
      <span>เสร็จสิ้น</span>
      } @if (currentStep().action === "def") {
      <span
        >กำหนดค่าน้อยที่สุดเริ่มต้น (Initial min) ที่ตำแหน่ง
        {{ currentStep().min }}</span
      >
      } @if (currentStep().action === "compare") {
      <span>
        เปรียบเทียบตำแหน่งที่ {{ currentStep().highlight[0] }} กับ
        {{ currentStep().min }} ({{
          currentStep().array[currentStep().highlight[0]]
        }}
        < {{ currentStep().array[currentStep().min] }}?)
      </span>
      } @if (currentStep().action === "min") {
      <span>
        เพราะว่า {{ currentStep().array[currentStep().highlight[1]] }} <
        {{ currentStep().array[currentStep().highlight[0]] }}
        ทำการเปลี่ยนค่าที่น้อยที่สุด
      </span>
      } @if (currentStep().action === "swap") {
      <span>
        พบการเปลี่ยนแปลงค่าที่น้อยที่สุด ทำการสลับค่าของตำแหน่งที่
        {{ currentStep().highlight[0] }} กับ
        {{ currentStep().highlight[1] }}
      </span>
      }
    </div>
    <span>{{ currentStep().action === "start" ? "" : "" }}</span>
    <div class="flex gap-2 justify-center items-center">
      @for (item of currentStep().array; track $index) {
      <div class="space-y-1">
        <div
          class="size-12 md:size-16 flex justify-center items-center rounded-lg"
          [ngClass]="assignClass($index)"
        >
          {{ item }}
        </div>
        <p class="text-xs text-center">{{ $index }}</p>
      </div>
      }
    </div>
    }
    <app-step-controller
      (first)="first()"
      (last)="last()"
      (next)="next()"
      (prev)="prev()"
      [disabledPrev]="currentIndex() === 0"
      [disabledNext]="currentIndex() === steps().length - 1"
    />
  </section>
  <hr />
  <section class="space-y-2">
    <h3>Visualizer</h3>
    <div class="flex items-center gap-2">
      <button
        (click)="runVz()"
        class="px-4 py-2 rounded-lg bg-blue-700 text-white"
      >
        เริ่ม
      </button>
      <button
        (click)="resetVz()"
        [disabled]="isRunning"
        class="px-4 py-2 rounded-lg bg-blue-700 text-white disabled:bg-zinc-200"
      >
        รีเซ็ต
      </button>
    </div>
    <div class="flex items-end gap-1 h-52 relative">
      @for (item of vzArray; track $index) {
      <div
        [style.height]="item * 2 + '%'"
        [style.background-color]="
          'hsl(' +
          (item / vzArray.length) * 270 +
          ', 100%, ' +
          (running[0] === $index && isRunning ? '0' : '50') +
          '%)'
        "
        class="grow"
      ></div>
      }
    </div>
  </section>
</article>
