<article class="p-2 md:p-4 py-8 prose prose-lg prose-zinc" #article>
  <h1>Selection Sort</h1>
  <h2>คำอธิบาย</h2>
  <p>
    Selection Sort ทำงานโดยการแบ่งอาร์เรย์ออกเป็นสองส่วน
    คือส่วนที่เรียงลำดับแล้วและส่วนที่ยังไม่ได้เรียงลำดับ
    จากนั้นเลือกค่าที่น้อยที่สุดจากส่วนที่ยังไม่ได้เรียงลำดับมาไว้ที่ตำแหน่งถัดไปของส่วนที่เรียงลำดับแล้ว
    กระบวนการนี้จะดำเนินการจนกว่าข้อมูลทั้งหมดจะเรียงลำดับเสร็จสิ้น
  </p>
  <h2>ประสิทธิภาพ</h2>
  <h3>เวลา (Time Complexity)</h3>
  <div class="grid grid-cols-3 place-items-center">
    <div class="flex flex-col gap-1">
      <span class="text-sm">Worst</span>
      <span mathtex="O(n^2)"></span>
    </div>
    <div class="flex flex-col gap-1">
      <span class="text-sm">Average</span>
      <span mathtex="O(n^2)"></span>
    </div>
    <div class="flex flex-col gap-1">
      <span class="text-sm">Best</span>
      <span mathtex="O(n^2)"></span>
    </div>
  </div>
  <p>
    การทำงานของ Selection Sort ไม่มีกรณีที่ดีที่สุด หรือแย่ที่สุดไปกว่ากัน
    เพราะในแต่ละรอบจะทำการค้นหาค่าที่น้อยที่สุดในส่วนที่ยังไม่ได้เรียงทั้งหมด
  </p>
  <h3>พื้นที่ (Space Complexity)</h3>
  <div class="grid grid-cols-1 place-items-center">
    <span mathtex="O(1)"></span>
  </div>
  <p>
    Bubble Sort ใช้พื้นที่เล็กน้อยในการเรียง เช่น ตัวแปรเก็บค่าความยาวอาร์เรย์
    หรือ ตัวแปรเก็บค่าตำแหน่งที่น้อยที่สุด
  </p>
  <h2>ข้อดีและข้อเสีย</h2>
  <h3>ข้อดี</h3>
  <ul>
    <li>ง่ายต่อการทำความเข้าใจและใช้งาน</li>
    <li>ใช้พื้นที่หน่วยความจำคงที่</li>
  </ul>
  <h3>ข้อเสีย</h3>
  <ul>
    <li>ความเร็วต่ำเมื่อเทียบกับอัลกอริทึมอื่น</li>
    <li>ไม่เหมาะกับข้อมูลขนาดใหญ่ (เวลาที่ใช้แปรผันตรงกับขนาดข้อมูล)</li>
    <li>
      ไม่สามารถปรับปรุงเวลาในการทำงานได้ ถึงแม้ข้อมูลจะเรียงมาก่อนแล้วก็ตาม
    </li>
  </ul>
  <!-- <h2>โค้ด</h2> -->
  <h2>ตัวอย่าง</h2>
  <section>
    <h3>Stepper</h3>
    <app-selection-sort-stepper />
  </section>
  <hr />
  <section class="space-y-2">
    <h3>Visualizer</h3>
    <app-selection-sort-visualizer />
  </section>
</article>
