@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Kanit";
  src: url("/fonts/Kanit.ttf");
}

body {
  @apply bg-zinc-50 text-zinc-700;
  font-family: "Kanit";
}
